EXPO_PUBLIC_BUN_ENV=your-env
EXPO_PUBLIC_TUNNEL=your-ngrok-tunnel
EXPO_PUBLIC_PRODUCTION=your-public-url
EXPO_PUBLIC_NEWS_API=your-api-key
EXPO_PUBLIC_PODCASTS_API=your-api-key
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=web-google-client-id
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=ios-google-client-id
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=android-google-client-id
